html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    animation: enableScroll 4s forwards;
    cursor: url('img/cursor/cursor_32.png') 10 10, auto;
}
button, .btn, a, svg, .arow {
    cursor: url('img/cursor/cursoractive_32.png') 15 15, pointer;
}
@font-face {
    font-family: 'Montserrat';
    src: url('text/Montserrat-Regular.ttf') format('ttf');
    font-style: normal;
}
@font-face {
    font-family: 'georgian';
    src: url('text/NotoSerifGeorgian_ExtraCondensed-Regular.ttf') format('ttf');
    font-style: normal;
}
 h1, h2{
    font-family: 'georgian', serif;
 }

p, a, h3{
    font-family: 'Montserrat', sans-serif;
}



#preloader {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(40,0,70,0.75), rgba(30,0,60,0.75)), url(img/backfon.webp) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    animation: hide-preloader 4s forwards;
}
.loader {
    display: flex;
    gap: 12px;
}

.loader .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #00e0d0;
    animation: dots 0.6s infinite alternate;
}

::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(76, 10, 142, 0.55);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00e0d0;
    border-radius: 10px;
    border: 2px solid rgba(76, 10, 142, 0.55);
}

::-webkit-scrollbar-thumb:hover {
    background: #00fff7;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00e0d0 rgba(76, 10, 142, 0.55);
}