html, body {
     -webkit-animation: enableScroll 4s forwards;
}
.main,
.header-container, 
.logo, 
.nav-menu, 
.burger, 
.slide,
.dots,
.story,
.blockforstory,
.right,
.plaier,
.expertise,
.card,
.works,
.overlay,
.team,
.team .slide,
.photos,
.contact-section,
.contact-container,
.contact-form form,
.scroll-btn,
#preloader,
.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    
}
.header-container,
.works,
.contact-container{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
}
.slide,
.story,
.blockforstory,
.right,
.plaier,
.card,
.overlay,
.photos,
.contact-section,
.logos,
.scroll-btn,
#preloader{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
}
.header-container,
.logo, 
.slide,
.story,
.blockforstory,
.plaier,
.expertise,
.card,
.overlay,
.team,
.team .slide,
.photos,
.contact-section,
.scroll-btn,
#preloader{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
} 
.burger span,
.burger::before,
.burger::after,
nav a,
.btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
#menu-toggle:checked + .burger::before { 
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
#menu-toggle:checked + .burger::after { 
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.slide{
    -webkit-animation: fade 16s infinite;
}
.dots,
.expertise > p::after {
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);

}
.right,
.plaier,
.expertise,
.card,
.works,
.team,
.team .slide{
    -ms-flex-direction: column;   
    -webkit-flex-direction: column;
}
.right{
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start; 
}
.expertise-cards,
.projects,
.logos{
    display: -ms-grid;
}
.project img{
      -webkit-transition: -webkit-transform 0.5s ease;
      -moz-transition: -moz-transform 0.5s ease;
      -o-transition: -o-transform 0.5s ease; 
}
.overlay{
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease; 
}
.project:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);    
    -ms-transform: scale(1.1);     
    -o-transform: scale(1.1);      

}
.team .slide{
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);  
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
    -webkit-transition: opacity 1s ease; 
    -moz-transition: opacity 1s ease;    
    -o-transition: opacity 1s ease;  
    transition: opacity 1s ease;
}
.photos img.small,
.photos img.large{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;  
    -o-transition: all 0.5s ease; 
}
.arrow {
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);

}
.arrow{
    -webkit-transition: .3s;
    -moz-transition: .3s;  
    -o-transition: .3s; 
}
.photos-container .arrow:hover {
    color: #fff;

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);    
    -ms-transform: scale(1.2);    
    -o-transform: scale(1.2);      
    transform: scale(1.2);
}
.scroll-btn{
    -webkit-transition: opacity 0.3s; 
    -moz-transition: opacity 0.3s;   
    -o-transition: opacity 0.3s; 
}
#preloader {
    -webkit-animation: hide-preloader 4s forwards;
}
.loader .dot {
    -webkit-animation: dots 0.6s infinite alternate;
}

@-webkit-keyframes fadeDown {
    from { 
        opacity: 0; 
        -webkit-transform: translateY(-10px); 
        transform: translateY(-10px);
    }
    to { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
    }
}
@-webkit-keyframes fade {
    0%   { opacity: 0; pointer-events: none; }
    5%   { opacity: 1; pointer-events: auto; }
    25%  { opacity: 1; pointer-events: auto; }
    30%  { opacity: 0; pointer-events: none; }
    100% { opacity: 0; pointer-events: none; }
}
@-webkit-keyframes dot {
    0%, 25% { background: #00e0d0; border-color: #00e0d0; }
    26%, 100% { background: transparent; border-color: #aaa; }
}
@-webkit-keyframes fadeTeam {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  20%  { opacity: 1; }
  30%  { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes enableScroll {
    0%, 70% { overflow-y: hidden; }
    100%    { overflow-y: auto; }
}
@-webkit-keyframes hide-preloader {
    0%   { opacity: 1; visibility: visible; }
    85%  { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
@-webkit-keyframes dots {
    from { -webkit-transform: translateY(0); transform: translateY(0); }
    to   { -webkit-transform: translateY(-12px); transform: translateY(-12px); }
}
@media (max-width: 992px) {
    nav.nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        
    }
}
#menu-toggle:checked ~ nav.nav-menu { 
    -webkit-animation: fadeDown 0.3s ease forwards;
}